
body{
    width: 80%;
    margin: 10%;
    background-image: url("../images/walnut-wood.jpg")
}

div {
    display: inline-block;
    width: 49%;
    height: 9%;
    padding: 0;
    margin-left: 0.12vw;
    vertical-align: bottom;
}
.button-div {
    height: 5%;
}
button {
    width: 100%;
    height: 100%;
}
    
.game-board {
    width: 99%;
    height: 52%;
    background-image: url(../images/table-felt-2.jpg);
}
.cardField{
    width: 99%;
    height: 49%;
    font-size: 12px;
}

#reset-div{
    width: 99.5%;
    height: 5%;
}
#reset-button{
    height: 100%;
    width: 100%
}

h2 {
    text-align: center;
    font-size: 2vw;
    font-family: 'Holtwood One SC', serif;
    opacity: 0.65
}
h3 {
    text-align: center;
    font-size: 1vw;
    font-family: 'Holtwood One SC', serif;
    opacity: 0.65;
}


#info-div {
    width: 76vw;
    height: auto;
    background-image: url(../images/mahogany-wood.jpg);
}

hr{
    visibility: hidden;
}

img{
    width: auto;
    height: 35%;
    display: inline-block;
    margin: 0 auto;
    padding: 1vw;
}
#SUPERDIV {
    width: 76vw;
    height: 100vh;
    background-image: url(../images/mahogany-wood.jpg);
}