body{
    width: 80%;
    margin: 10%;
    background-image: url("../images/walnut-wood.jpg")
}

div {
    display: inline-block;
    border: solid black;
    width: 37vw;
    height: 8%;
    padding: 0;
    margin-left: 0.12vw;
    background-image: url(../images/mahogany-wood.jpg);
    vertical-align: bottom;
}
.button-div {
    height: 5%;
    width: 37vw;
}
button {
    width: 37vw;
    height: 5vh;
}
    
#game-board {
    width: 75.1vw;
    height: 52%;
    background-image: url(../images/table-felt-2.jpg);
}

#reset-div, #reset-button {
    width: 75.1vw;
    height: 5%;
}
#reset-button{
    height: 5vh;
}

h2{
    text-align: center;
    float: center;
}

#info-div {
    width: 76vw;
    height: auto;
}

hr{
    visibility: hidden;
}

img{
    height: 170px;
    width: auto;
    display: inline-block;
    margin: 0 auto;
    padding: 3px;
}
#SUPERDIV {
    width: 76vw;
    height: 100vh;
}